.card{
    background-color: var(--white-pink);

    width: 300px;
    height: 650px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
}

figure{
    width: 250px;
    height: 320px;
    margin-top: 15px;
    border: var(--off-white) 6px solid;
    border-radius: 27px;
}

.tituloCard{
    width: 250px;
    text-align: center;
    font-family: "Megina";
    font-weight: 400;
    font-size: 30px;
    color: var(--black);

    margin-top: 20px;
}

.descricao{
    width: 250px;

    font-family: 'Prime Form - Regular';
    text-align: justify;
    word-wrap: break-word;
    font-size: 18px;

    margin-left: 10px;
}

.alinharBtns{
    width: 100%;
    height: 80px;
    margin-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btnFav{
    background-color: var(--medium-pink);

    width: 150px;
    height: 40px;
    
    border-radius: 50px;
    border: none;

    font-family: 'Prime Form - Bold';
    font-size: 20px;
}

.btnFav:hover{
    background-color: var(--pink);
    color: var(--white);
}