.card{
    background-color: red;

    width: 350px;
    height: 600px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
}

figure{
    width: 300px;
    height: 320px;
    margin-top: 15px;
    border: var(--off-white) 6px solid;
    border-radius: 27px;
}

.tituloCard{
    font-family: "Megina";
    font-weight: 500;
    font-size: 30px;
    color: var(--white);

    margin-top: 20px;
}

.descricao{
    width: 300px;

    font-family: 'Prime Form - Regular';
    text-align: justify;
    word-wrap: break-word;

    margin-left: 10px;
}

.alinharBtns{
    width: 100%;
    height: 80px;
    margin-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btnFav,
.btnDesfav{
    width: 150px;
    height: 40px;
    
    border-radius: 50px;
    border: none;

    font-family: 'Prime Form - Regular';
    font-size: 20px;
}