/* FONTES */
@font-face {
    font-family: "Megina";
    src: url(./assets/font/Megina.ttf) format(truetype);
}

@font-face {
    font-family: 'Prime Form - Regular';
    src: url(./assets/font/PrimeformProDemo-Regular.otf) format(truetype);
}

@font-face {
    font-family: 'Prime Form - Bold';
    src: url(./assets/font/PrimeformProDemo-Bold.otf) format(truetype);
}

/*  CORES */
:root{
    --off-white: #f1faee;
    --white: #fff;
    --florzinha: #E53E59;
    --lindinha: #01BED7;
    --docinho: #5BCD04;
    --pink: #DD2D4A;
    --white-pink: #F8D0D6;
    --black: #000;
    --medium-pink: #F96D91;
}

#root{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ESTILIZAÇÃO DA PAGINA */
*{
    margin: 0px;
    padding: 0px;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

body{
    background-image: url(./assets/imgs/fundo.png);
    background-position: center;
}

/* ESILIZAÇÃO DO APP */
.container{
    width: 85%;
    min-height: 90vh;
    
    background-image: url(./assets/imgs/nuvem.png);
    background-position: center;
    background-size: contain;
    
    display: flex;
    flex-direction: column;

    align-self: center;
    justify-self: center;

    padding-left: 60px;
    padding-right: 60px;
}

.titulo{
    font-family: "Megina";
    font-weight: 500;
    font-size: 60px;
    text-align: center;
    margin-top: 50px;
}

.boxCards{
    max-width: 80em;

    display: flex;
    align-self: center;
    justify-self: center;

    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    gap: 16px;
    padding-bottom: 50px;
}

h2{
    font-family: 'Prime Form - Regular';
    text-align: center;
}

footer{
    position: relative;
    z-index: 1;

    display: flex;
    align-self: center;

    font-size: 25px;
    font-family: 'Prime Form - Regular';
}

.f{
    background-color: var(--florzinha);
}

.l{
    background-color: var(--lindinha);
}

.d{
    background-color: var(--docinho);
}

.f,
.l,
.d{
    position: relative;
    z-index: 2;
    
    width: 300px;
    left: 115px;
}

.txtFooter{
    position: relative;
    z-index: 3;
    right: 40%;
}