/* FONTES */
@font-face {
    font-family: "Megina";
    src: url(./assets/font/Megina.ttf) format(truetype);
}

@font-face {
    font-family: 'Prime Form - Regular';
    src: url(./assets/font/PrimeformProDemo-Regular.otf) format(truetype);
}

@font-face {
    font-family: 'Prime Form - Bold';
    src: url(./assets/font/PrimeformProDemo-Bold.otf) format(truetype);
}

/* ESTILIZAÇÃO DA PAGINA */
*{
    margin: 0px;
    padding: 0px;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* ESILIZAÇÃO O COMPONENTE PRINCIPAL */
.container{
    width: 80%;
    min-height: 90vh;
    background-color: aqua;
    
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
}

.titulo{
    font-family: "Megina";
    font-weight: 500;
    font-size: 60px;
}