/* FONTES */
@font-face {
    font-family: "Megina";
    src: url(./assets/font/Megina.ttf) format(truetype);
}

@font-face {
    font-family: 'Prime Form - Regular';
    src: url(./assets/font/PrimeformProDemo-Regular.otf) format(truetype);
}

@font-face {
    font-family: 'Prime Form - Bold';
    src: url(./assets/font/PrimeformProDemo-Bold.otf) format(truetype);
}

/*  CORES */
:root{
    --off-white: #f1faee;
    --white: #fff;
}

/* ESTILIZAÇÃO DA PAGINA */
*{
    margin: 0px;
    padding: 0px;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

body{
    background-image: url(./assets/imgs/fundo.png);
    background-position: center;
}

/* ESILIZAÇÃO DO APP */
.container{
    width: 80%;
    min-height: 90vh;
    background-color: var(--off-white);
    
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
}

.titulo{
    font-family: "Megina";
    font-weight: 500;
    font-size: 60px;
    text-align: center;
    margin-top: 50px;
}

.boxCards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;

    padding-bottom: 50px;
}

h2{
    font-family: 'Prime Form - Regular';
    text-align: center;
}